/*#region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(44, 44, 44);
    color: white;
}

img {
    max-width: 100%;
}


/*#endregion*/

/*#region Utilities */
.py-5 {
    padding: 2.5rem 0;
}

.p-5 {
    padding: 2.5rem;
}

.d-flex {
    display: flex;
}

.btn-lg {
    text-decoration: none;
    color: inherit;
    padding: 1rem 2rem;
    background-color: #ad3737;
    border-radius: 15px;
}

/*#endregion*/


/*#region Layout */

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;

        .col {
            width: calc(100%/12*4);
            padding: 0 1rem;
            margin-bottom: 1rem;
        }
    }
}

/*#endregion*/

/*#region Pagination */

.pagination {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & ul {
        display: flex;
        gap: 0.5rem;
        list-style: none;

        .active {
            background-color: #ad3737;
        }

        .page-item {
            padding: 0.5rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &.arrow {
                border: 1px solid #ad3737;
            }

            .page-link {
                text-decoration: none;
                color: inherit;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;


            }
        }
    }
}

/*#endregion*/