/*#region Color Palette */

:root {
    --primary: #ad3737;
    --light-primary: #a06a6a;
    --bg-site:
        rgb(44, 44, 44);
    --dark: #545252;
    --dark-transp: #ffffff25;
    --darkest: black;
    --success: #0a5e1f;
    --light-success: #5b9168;
    --dark-red: #610000;
    --lightest: #ffffff;
    --light: rgb(206, 206, 206);

}

/*#endregion*/


/*#region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-site);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/*#endregion*/

/*#region Utilities */
.py-5 {
    padding: 2.5rem 0;
}

.my-1 {
    padding: 0.5rem 0;
}

.p-5 {
    padding: 2.5rem;
}

.d-flex {
    display: flex;
}

.btn-lg {
    display: block;
    text-decoration: none;
    color: var(--lightest);
    padding: 1rem 2rem;
    background-color: var(--primary);
    border-radius: 15px;
}

/*#endregion*/


/*#region Layout */

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;


    }
}

/*#endregion*/

/*#region Pagination */

.pagination {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & ul {
        display: flex;
        gap: 0.5rem;
        list-style: none;
        color: var(--lightest);

        .active {
            background-color: var(--primary);
        }

        .page-item {
            padding: 0.5rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &.arrow {
                border: 1px solid var(--primary);
            }

            .page-link {
                text-decoration: none;
                color: inherit;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;


            }
        }
    }
}

/*#endregion*/